/*
 *= require 'bootstrap-progressbar/css/bootstrap-progressbar-3.0.0-rc2'
 *= require 'bootstrap/dist/css/bootstrap.css'
 */

@charset "utf-8";

h1 {
  color: #D48520;
}

body {
  background: #d4d4d4 url("../images/tweed.png");
  color: #FFF;
  font-family: sans-serif; }

#heatmeter {
  padding: 0 15px 0 15px;
}

li.weapon-item{
  padding-bottom: 2px;
}

.progress.wide{
  width: 60px;
}

.progress.vertical{
  height: 188px;
}
