@import "compass/css3/transition";

$ac2: 0.669s;
$ac5: 1.66s;
$ac10: 2.20s;
$ac20: 4s;
$uac5: 1.5s;
$lb10x: 2.50s;
$gauss: 4s;
$mg: .01s;

.progress-bar.ac2-cooldown{
  @include transition(width $ac2 ease-in-out );
}

.progress-bar.ac5-cooldown{
  @include transition(width $ac5 ease-in-out );
}

.progress-bar.ac10-cooldown{
  @include transition(width $ac10 ease-in-out );
}

.progress-bar.ac20-cooldown{
  @include transition(width $ac20 ease-in-out );
}

.progress-bar.uac5-cooldown{
  @include transition(width $uac5 ease-in-out );
}

.progress-bar.lb10x-cooldown{
  @include transition(width $lb10x ease-in-out );
}

.progress-bar.gauss-cooldown{
  @include transition(width $gauss ease-in-out );
}

.progress-bar.mg-cooldown{
  @include transition(width $mg ease-in-out );
}
