---
http_interactions:
- request:
    method: get
    uri: http://static.mwomercs.com/api/items/list/full.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n\t\"1000\": {\n\t\t\"name\": \"AutoCannon20\",\n\t\t\"category\":
        \"weapon\",\n\t\t\"factions\": {\n\t\t\t\"Clan\": false,\n\t\t\t\"InnerSphere\":
        true\n\t\t},\n\t\t\"stats\": {\n\t\t\t\"Health\": 18,\n\t\t\t\"slots\": 10,\n\t\t\t\"type\":
        \"Ballistic\",\n\t\t\t\"projectileclass\": \"bullet\",\n\t\t\t\"numFiring\":
        1,\n\t\t\t\"damage\": 20,\n\t\t\t\"heatdamage\": 0,\n\t\t\t\"heatpenalty\":
        24,\n\t\t\t\"minheatpenaltylevel\": 2,\n\t\t\t\"impulse\": 0.13,\n\t\t\t\"heat\":
        6,\n\t\t\t\"cooldown\": 4,\n\t\t\t\"ammoType\": \"AC20Ammo\",\n\t\t\t\"ammoPerShot\":
        1,\n\t\t\t\"minRange\": 0,\n\t\t\t\"longRange\": 270,\n\t\t\t\"maxRange\":
        540,\n\t\t\t\"tons\": 14,\n\t\t\t\"duration\": 0,\n\t\t\t\"lifetime\": 10,\n\t\t\t\"speed\":
        650,\n\t\t\t\"volleydelay\": 0,\n\t\t\t\"gravity\": \"0,0,-9.8\",\n\t\t\t\"maxDepth\":
        10\n\t\t},\n\t\t\"inheritfrom\": null,\n\t\t\"cost\": null\n\t},\n\t\"1001\":
        {\n\t\t\"name\": \"MediumLaser\",\n\t\t\"category\": \"weapon\",\n\t\t\"factions\":
        {\n\t\t\t\"Clan\": false,\n\t\t\t\"InnerSphere\": true\n\t\t},\n\t\t\"stats\":
        {\n\t\t\t\"Health\": 10,\n\t\t\t\"slots\": 1,\n\t\t\t\"type\": \"Energy\",\n\t\t\t\"projectileclass\":
        \"\",\n\t\t\t\"numFiring\": 1,\n\t\t\t\"damage\": 5,\n\t\t\t\"heatdamage\":
        0,\n\t\t\t\"heatpenalty\": 1,\n\t\t\t\"minheatpenaltylevel\": 7,\n\t\t\t\"impulse\":
        0,\n\t\t\t\"heat\": 4,\n\t\t\t\"cooldown\": 3,\n\t\t\t\"ammoType\": \"\",\n\t\t\t\"ammoPerShot\":
        0,\n\t\t\t\"minRange\": 0,\n\t\t\t\"longRange\": 270,\n\t\t\t\"maxRange\":
        540,\n\t\t\t\"visRange\": 1500,\n\t\t\t\"tons\": 1,\n\t\t\t\"duration\": 1,\n\t\t\t\"lifetime\":
        0,\n\t\t\t\"speed\": 0,\n\t\t\t\"volleydelay\": 0,\n\t\t\t\"maxDepth\": 10\n\t\t},\n\t\t\"inheritfrom\":
        null,\n\t\t\"cost\": null\n\t},\n\t\"1002\": {\n\t\t\"name\": \"LRM20\",\n\t\t\"category\":
        \"weapon\",\n\t\t\"factions\": {\n\t\t\t\"Clan\": false,\n\t\t\t\"InnerSphere\":
        true\n\t\t},\n\t\t\"stats\": {\n\t\t\t\"Health\": 10,\n\t\t\t\"slots\": 5,\n\t\t\t\"type\":
        \"Missile\",\n\t\t\t\"projectileclass\": \"javelin\",\n\t\t\t\"numFiring\":
        20,\n\t\t\t\"damage\": 1.1,\n\t\t\t\"heatdamage\": 0,\n\t\t\t\"heatpenalty\":
        2.8,\n\t\t\t\"minheatpenaltylevel\": 3,\n\t\t\t\"impulse\": 0.3,\n\t\t\t\"heatPenaltyID\":
        2,\n\t\t\t\"heat\": 6,\n\t\t\t\"cooldown\": 4.75,\n\t\t\t\"ammoType\": \"LRMAmmo\",\n\t\t\t\"ammoPerShot\":
        20,\n\t\t\t\"nullRange\": 180,\n\t\t\t\"minRange\": 180,\n\t\t\t\"longRange\":
        1000,\n\t\t\t\"maxRange\": 1000,\n\t\t\t\"tons\": 10,\n\t\t\t\"duration\":
        0,\n\t\t\t\"lifetime\": 15,\n\t\t\t\"speed\": 160,\n\t\t\t\"volleydelay\":
        0.5,\n\t\t\t\"peakdist\": 0.6,\n\t\t\t\"peaktime\": -0.333,\n\t\t\t\"minheight\":
        20,\n\t\t\t\"maxheight\": 150,\n\t\t\t\"uselock\": 1,\n\t\t\t\"trackingstrength\":
        2,\n\t\t\t\"radius\": 0.05,\n\t\t\t\"hitpoints\": 1,\n\t\t\t\"UseTAG\": 1,\n\t\t\t\"formation_speed\":
        2.5,\n\t\t\t\"formation_size\": 0.1,\n\t\t\t\"formation_size_per_index\":
        0.005,\n\t\t\t\"artemisAmmoType\": \"LRMAmmoArtemis\",\n\t\t\t\"spread\":
        7\n\t\t},\n\t\t\"inheritfrom\": null,\n\t\t\"cost\": null\n\t},\n\t\"1003\":
        {\n\t\t\"name\": \"SmallLaser\",\n\t\t\"category\": \"weapon\",\n\t\t\"factions\":
        {\n\t\t\t\"Clan\": false,\n\t\t\t\"InnerSphere\": true\n\t\t},\n\t\t\"stats\":
        {\n\t\t\t\"Health\": 10,\n\t\t\t\"slots\": 1,\n\t\t\t\"type\": \"Energy\",\n\t\t\t\"projectileclass\":
        \"\",\n\t\t\t\"numFiring\": 1,\n\t\t\t\"damage\": 3,\n\t\t\t\"heatdamage\":
        0,\n\t\t\t\"impulse\": 0,\n\t\t\t[...]
[...]
