%ul
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Small Laser', weapon_class: 'slas' }} Add Small Laser
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Medium Laser', weapon_class: 'mlas' }} Add Medium Laser
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Large Laser', weapon_class: 'llas' }} Add Large Laser
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Extended Large Laser', weapon_class: 'ellas' }} Add Extended Large Laser
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Small Pulse Laser', weapon_class: 'splas' }} Add Small Pulse Laser
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Medium Pulse Laser', weapon_class: 'mplas' }} Add Medium Pulse Laser
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Large Pulse Laser', weapon_class: 'lplas' }} Add Large Pulse Laser
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'PPC', weapon_class: 'ppc' }} Add PPC
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'ER PPC', weapon_class: 'eppc' }} Add ER PPC
  %li
    %a{href: '#', class: 'js-add-weapon', data: { weapon_name: 'Flamer', weapon_class: 'flam' }} Add Flamer
