%h4 Energy
%ul.list-unstyled.nav

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan ER Small Laser', weapon_id: '1211' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan ER Small Laser

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan ER Medium Laser', weapon_id: '1212' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan ER Medium Laser

  %li.weapon-item
    %a{href: '#', class: 'ooltip btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan ER Large Laser', weapon_id: '1213'}}
      %span.glyphicon.glyphicon-download-alt
      Add Clan ER Large Laser

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Small Pulse Laser', weapon_id: '1214' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Small Pulse Laser

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Medium Pulse Laser', weapon_id: '1215' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Medium Pulse Laser

  %li.weapon-item
    %a{href: '#', class: 'js-with_tooltip btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Large Pulse Laser', weapon_id: '1216'}}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Large Pulse Laser

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan ER PPC', weapon_id: '1217' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan ER PPC

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Flamer', weapon_id: '1210' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Flamer

%h4 Ballistic
%ul.list-unstyled.nav
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Autocannon 2', weapon_id: '1238' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Autocannon 2
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Autocannon 5', weapon_id: '1239' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Autocannon 5
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Autocannon 10', weapon_id: '1240' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Autocannon 10
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Autocannon 20', weapon_id: '1241' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Autocannon 20

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Gauss Rifle', weapon_id: '1208' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Gauss Rifle

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan LB 2-X Autocannon', weapon_id: '1200' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan LB 2-X Autocannon

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan LB 5-X Autocannon', weapon_id: '1201' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan LB 5-X Autocannon

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan LB 10-X Autocannon', weapon_id: '1202' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan LB 10-X Autocannon

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan LB 20-X Autocannon', weapon_id: '1203' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan LB 20-X Autocannon

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Machine Gun', weapon_id: '1209' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Machine Gun

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Ultra Autocannon 2', weapon_id: '1204' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Ultra Autocannon 2

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Ultra Autocannon 5', weapon_id: '1205' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Ultra Autocannon 5

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Ultra Autocannon 10', weapon_id: '1206' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Ultra Autocannon 10

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Ultra Autocannon 20', weapon_id: '1207' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Ultra Autocannon 20

%h4 Missile
%ul.list-unstyled.nav

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Long Range Missile 5', weapon_id: '1218' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Long Range Missile 5

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Long Range Missile 10', weapon_id: '1219' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Long Range Missile 10

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Long Range Missile 15', weapon_id: '1220' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Long Range Missile 15

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Long Range Missile 20', weapon_id: '1221' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Long Range Missile 20

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Short Range Missile 2', weapon_id: '1226' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Short Range Missile 2

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Short Range Missile 4', weapon_id: '1227' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Short Range Missile 4

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Short Range Missile 6', weapon_id: '1228' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Short Range Missile 6

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Streak Short Range Missile 2', weapon_id: '1232' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Streak Short Range Missile 2

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Streak Short Range Missile 4', weapon_id: '1233' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Streak Short Range Missile 4

  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-primary js-add-weapon', data: { weapon_name: 'Clan Streak Short Range Missile 6', weapon_id: '1234' }}
      %span.glyphicon.glyphicon-download-alt
      Add Clan Streak Short Range Missile 6
