Engine Type
%select#engine_type
  %option{value: '100'} 100std/xl
  %option{value: '105'} 105std/xl
  %option{value: '110'} 110std/xl
  %option{value: '115'} 115std/xl
  %option{value: '120'} 120std/xl
  %option{value: '125'} 125std/xl
  %option{value: '130'} 130std/xl
  %option{value: '135'} 135std/xl
  %option{value: '140'} 140std/xl
  %option{value: '145'} 145std/xl
  %option{value: '150'} 150std/xl
  %option{value: '155'} 155std/xl
  %option{value: '160'} 160std/xl
  %option{value: '165'} 165std/xl
  %option{value: '170'} 170std/xl
  %option{value: '175'} 175std/xl
  %option{value: '180'} 180std/xl
  %option{value: '185'} 185std/xl
  %option{value: '190'} 190std/xl
  %option{value: '195'} 195std/xl
  %option{value: '200'} 200std/xl
  %option{value: '205'} 205std/xl
  %option{value: '210'} 210std/xl
  %option{value: '215'} 215std/xl
  %option{value: '220'} 220std/xl
  %option{value: '225'} 225std/xl
  %option{value: '230'} 230std/xl
  %option{value: '235'} 235std/xl
  %option{value: '240'} 240std/xl
  %option{value: '245'} 245std/xl
  %option{value: '250'} 250std/xl
  %option{value: '255'} 255std/xl
  %option{value: '260'} 260std/xl
  %option{value: '265'} 265std/xl
  %option{value: '270'} 270std/xl
  %option{value: '275'} 275std/xl
  %option{value: '280'} 280std/xl
  %option{value: '285'} 285std/xl
  %option{value: '290'} 290std/xl
  %option{value: '295'} 295std/xl
  %option{value: '300', selected: 'selected'} 300std/xl
  %option{value: '305'} 305std/xl
  %option{value: '310'} 310std/xl
  %option{value: '315'} 315std/xl
  %option{value: '320'} 320std/xl
  %option{value: '325'} 325std/xl
  %option{value: '330'} 330std/xl
  %option{value: '335'} 335std/xl
  %option{value: '340'} 340std/xl
  %option{value: '345'} 345std/xl
  %option{value: '350'} 350std/xl
  %option{value: '355'} 355std/xl
  %option{value: '360'} 360std/xl
  %option{value: '365'} 365std/xl
  %option{value: '370'} 370std/xl
  %option{value: '375'} 375std/xl
  %option{value: '380'} 380std/xl
  %option{value: '385'} 385std/xl
  %option{value: '390'} 390std/xl
  %option{value: '395'} 395std/xl
  %option{value: '400'} 400std/xl
