%h4 Energy
%ul.list-unstyled.nav
  %li.weapon-item
    %a{href: '#', class: 'js-with_tooltip btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Small Laser', weapon_id: '1003', toggle: 'tooltip', placement: 'top', 'original-title' => "Click to equip"}}
      %span.glyphicon.glyphicon-download-alt
      Add Small Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Medium Laser', weapon_id: '1001' }}
      %span.glyphicon.glyphicon-download-alt
      Add Medium Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Large Laser', weapon_id: '1008' }}
      %span.glyphicon.glyphicon-download-alt
      Add Large Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'ER Large Laser', weapon_id: '1005' }}
      %span.glyphicon.glyphicon-download-alt
      Add ER Large Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Small Pulse Laser', weapon_id: '1012' }}
      %span.glyphicon.glyphicon-download-alt
      Add Small Pulse Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Medium Pulse Laser', weapon_id: '1011' }}
      %span.glyphicon.glyphicon-download-alt
      Add Medium Pulse Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Large Pulse Laser', weapon_id: '1010' }}
      %span.glyphicon.glyphicon-download-alt
      Add Large Pulse Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'PPC', weapon_id: '1009' }}
      %span.glyphicon.glyphicon-download-alt
      Add PPC
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'ER PPC', weapon_id: '1006' }}
      %span.glyphicon.glyphicon-download-alt
      Add ER PPC
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Flamer', weapon_id: '1007' }}
      %span.glyphicon.glyphicon-download-alt
      Add Flamer

%h4 Ballistic
%ul.list-unstyled.nav
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 2', weapon_id: '1018' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 2
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 5', weapon_id: '1019' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 5
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 10', weapon_id: '1020' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 10
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 20', weapon_id: '1000' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 20
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Ultra Autocannon 5', weapon_id: '1025' }}
      %span.glyphicon.glyphicon-download-alt
      Add Ultra Autocannon 5
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'LB 10-X Autocannon', weapon_id: '1023' }}
      %span.glyphicon.glyphicon-download-alt
      Add LB 10-X Autocannon
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Gauss Rifle', weapon_id: '1021' }}
      %span.glyphicon.glyphicon-download-alt
      Add Gauss Rifle
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Machine Gun', weapon_id: '1024' }}
      %span.glyphicon.glyphicon-download-alt
      Add Machine Gun

%h4 Missile
%ul.list-unstyled.nav
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 5', weapon_id: '1026' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 5
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 10', weapon_id: '1027' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 10
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 15', weapon_id: '1028' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 15
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 20', weapon_id: '1002' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 20
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Short Range Missile 2', weapon_id: '1030' }}
      %span.glyphicon.glyphicon-download-alt
      Add Short Range Missile 2
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Short Range Missile 4', weapon_id: '1004' }}
      %span.glyphicon.glyphicon-download-alt
      Add Short Range Missile 4
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Short Range Missile 6', weapon_id: '1031' }}
      %span.glyphicon.glyphicon-download-alt
      Add Short Range Missile 6
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Streak Short Range Missile 2', weapon_id: '1032' }}
      %span.glyphicon.glyphicon-download-alt
      Add Streak Short Range Missile 2
