%h4 Energy
%ul.list-unstyled.nav
  %li.weapon-item
    %a{href: '#', class: 'js-with_tooltip btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Small Laser', weapon_class: 'slas', toggle: 'tooltip', placement: 'top', 'original-title' => "Click to equip"}}
      %span.glyphicon.glyphicon-download-alt
      Add Small Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Medium Laser', weapon_class: 'mlas' }}
      %span.glyphicon.glyphicon-download-alt
      Add Medium Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Large Laser', weapon_class: 'llas' }}
      %span.glyphicon.glyphicon-download-alt
      Add Large Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'ER Large Laser', weapon_class: 'ellas' }}
      %span.glyphicon.glyphicon-download-alt
      Add ER Large Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Small Pulse Laser', weapon_class: 'splas' }}
      %span.glyphicon.glyphicon-download-alt
      Add Small Pulse Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Medium Pulse Laser', weapon_class: 'mplas' }}
      %span.glyphicon.glyphicon-download-alt
      Add Medium Pulse Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Large Pulse Laser', weapon_class: 'lplas' }}
      %span.glyphicon.glyphicon-download-alt
      Add Large Pulse Laser
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'PPC', weapon_class: 'ppc' }}
      %span.glyphicon.glyphicon-download-alt
      Add PPC
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'ER PPC', weapon_class: 'eppc' }}
      %span.glyphicon.glyphicon-download-alt
      Add ER PPC
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Flamer', weapon_class: 'flam' }}
      %span.glyphicon.glyphicon-download-alt
      Add Flamer

%h4 Ballistic
%ul.list-unstyled.nav
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 2', weapon_class: 'ac2' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 2
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 5', weapon_class: 'ac5' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 5
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 10', weapon_class: 'ac10' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 10
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Autocannon 20', weapon_class: 'ac20' }}
      %span.glyphicon.glyphicon-download-alt
      Add Autocannon 20
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Ultra Autocannon 5', weapon_class: 'uac5' }}
      %span.glyphicon.glyphicon-download-alt
      Add Ultra Autocannon 5
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'LB 10-X Autocannon', weapon_class: 'lb10x' }}
      %span.glyphicon.glyphicon-download-alt
      Add LB 10-X Autocannon
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Gauss Rifle', weapon_class: 'gauss' }}
      %span.glyphicon.glyphicon-download-alt
      Add Gauss Rifle
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Machine Gun', weapon_class: 'mg' }}
      %span.glyphicon.glyphicon-download-alt
      Add Machine Gun

%h4 Missile
%ul.list-unstyled.nav
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 5', weapon_class: 'lrm5' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 5
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 10', weapon_class: 'lrm10' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 10
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 15', weapon_class: 'lrm15' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 15
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Long Range Missile 20', weapon_class: 'lrm20' }}
      %span.glyphicon.glyphicon-download-alt
      Add Long Range Missile 20
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Short Range Missile 2', weapon_class: 'srm2' }}
      %span.glyphicon.glyphicon-download-alt
      Add Short Range Missile 2
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Short Range Missile 4', weapon_class: 'srm4' }}
      %span.glyphicon.glyphicon-download-alt
      Add Short Range Missile 4
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Short Range Missile 6', weapon_class: 'srm6' }}
      %span.glyphicon.glyphicon-download-alt
      Add Short Range Missile 6
  %li.weapon-item
    %a{href: '#', class: 'btn-sm btn-warning js-add-weapon', data: { weapon_name: 'Streak Short Range Missile 2', weapon_class: 'ssrm2' }}
      %span.glyphicon.glyphicon-download-alt
      Add Streak Short Range Missile 2
