Map list
%select#map
  %option{value: '1'} Alpine Peaks
  %option{value: '1'} River City
  %option{value: '1'} Caustic Valley
  %option{value: '1'} Frozen City
  %option{value: '1'} Frozen Colony
  %option{value: '1'} Tourmaline Desert
  %option{value: '1'} Canyon Network
  %option{value: '1'} Terra Therma
  %option{value: '1'} Crimson Strait
  %option{value: '1'} HPG Manifold

