Map list
%select#map
  %option{data: {dissipation: 0, capacity: 0} } Forest Colony
  %option{data: {dissipation: 0, capacity: 0} } Canyon Network
  %option{data: {dissipation: 0, capacity: 0} } River City (Day/Night)
  %option{data: {dissipation: 0, capacity: 0} } Crimson Strait

  %option{disabled: '', role: 'separator'} Cold Maps --

  %option{data: {dissipation: '.25', capacity: '.25'} } Forest Colony (Snow)
  %option{data: {dissipation: '.25', capacity: '.25'} } Alpine Peaks
  %option{data: {dissipation: '.25', capacity: '.25'} } Frozen City
  %option{data: {dissipation: '.25', capacity: '.25'} } Frozen City (Night)

  %option{disabled: '', role: 'separator'} Hot Maps ----

  %option{data: {dissipation: '-.15', capacity: '-.10'} } Caustic Valley
  %option{data: {dissipation: '-.25', capacity: '-.20'} } Terra Therma
  %option{data: {dissipation: '-.15', capacity: '-.10'} } Tourmaline Desert

  %option{disabled: '', role: 'separator'} Uncertain ---

  %option{data: {dissipation: '-.40', capacity: '-.30'} } Caustic Valley Caldera
  %option{data: {dissipation: '-.60', capacity: '-.12'} } Terra Therma Caldera

#map-modifier
  %p
    Effective Cool Rate from map :
    %span#dissipation.label.label-info

  %p
    Effective Heat Capacity from map :
    %span#capacity.label.label-info
