%h4 Add Quirks
.form-group
  %fieldset
    %form#add_quirk
      %label
        Quirk
        %select#quirked
          %option{value: '1003'} IS Small Laser
          %option{value: '1001'} IS Medium Laser
          %option{value: '1008'} IS Large Laser
          %option{value: '1005'} IS ER Large Laser
          %option{value: '1014'} IS Small Pulse Laser
          %option{value: '1011'} IS Medium Pulse Laser
          %option{value: '1010'} IS Large Pulse Laser
          %option{value: '1009'} IS PPC
          %option{value: '1006'} IS ER PPC
          %option{value: '1007'} IS Flamer
      %br
      %label
        Quirk Type
        %select.span6#quirk_type
          %option{value: 'heat'} Heat
          %option{disabled: 'disabled'} Cooldown
      %br
      %label
        \% reduction
        %input#quirk_value{type: 'number', size: '3'}
      %br
      = submit_tag "Add Quirk", class: 'btn btn-primary'
