%h4 Add Quirks
.form-group
  %fieldset
    %form#add_quirk
      %label
        Quirk
        %select#quirked
          %option{value: '1003'} IS Small Laser
          %option{value: '1001'} IS Medium Laser
          %option{value: '1008'} IS Large Laser
          %option{value: '1005'} IS ER Large Laser
          %option{value: '1014'} IS Small Pulse Laser
          %option{value: '1011'} IS Medium Pulse Laser
          %option{value: '1010'} IS Large Pulse Laser
          %option{value: '1009'} IS PPC
          %option{value: '1006'} IS ER PPC
          %option{value: '1007'} IS Flamer

          %option{value: '1018'} IS Autocannon 2
          %option{value: '1019'} IS Autocannon 5
          %option{value: '1020'} IS Autocannon 10
          %option{value: '1000'} IS Autocannon 20
          %option{value: '1025'} IS Ultra Autocannon 5
          %option{value: '1023'} IS LB 10-X Autocannon
          %option{value: '1021'} IS Gauss Rifle

          %option{value: '1026'} IS Long Range Missile 5
          %option{value: '1027'} IS Long Range Missile 10
          %option{value: '1028'} IS Long Range Missile 15
          %option{value: '1002'} IS Long Range Missile 20
          %option{value: '1030'} IS Short Range Missile 2
          %option{value: '1004'} IS Short Range Missile 4
          %option{value: '1031'} IS Short Range Missile 6
          %option{value: '1032'} IS Streak Short Range Missile 2

          %option{value: '1211'} Clan ER Small Laser
          %option{value: '1212'} Clan ER Medium Laser
          %option{value: '1213'} Clan ER Large Laser
          %option{value: '1214'} Clan Small Pulse Laser
          %option{value: '1215'} Clan Medium Pulse Laser
          %option{value: '1216'} Clan Large Pulse Laser
          %option{value: '1217'} Clan ER PPC
          %option{value: '1210'} Clan Flamer

          %option{value: '1238'} Clan Autocannon 2
          %option{value: '1239'} Clan Autocannon 5
          %option{value: '1240'} Clan Autocannon 10
          %option{value: '1241'} Clan Autocannon 20
          %option{value: '1200'} Clan LB 2-x Autocanon
          %option{value: '1201'} Clan LB 5-x Autocannon
          %option{value: '1202'} Clan LB 10-x Autocannon
          %option{value: '1203'} Clan LB 20-x Autocannon
          %option{value: '1209'} Clan Machine Gun
          %option{value: '1204'} Clan Ultra Autocannon 2
          %option{value: '1205'} Clan Ultra Autocannon 5
          %option{value: '1206'} Clan Ultra Autocannon 10
          %option{value: '1207'} Clan Ultra Autocannon 20

          %option{value: '1218'} Clan Long Range Missile 5
          %option{value: '1219'} Clan Long Range Missile 10
          %option{value: '1220'} Clan Long Range Missile 15
          %option{value: '1221'} Clan Long Range Missile 20
          %option{value: '1226'} Clan Short Range Missile 2
          %option{value: '1227'} Clan Short Range Missile 4
          %option{value: '1228'} Clan Short Range Missile 6
          %option{value: '1232'} Clan Streak Short Range Missile 2
          %option{value: '1233'} Clan Streak Short Range Missile 4
          %option{value: '1234'} Clan Streak Short Range Missile 6
      %br
      %label
        Quirk Type
        %select.span6#quirk_type
          %option{value: 'heat'} Heat
          %option{disabled: 'disabled'} Cooldown
      %br
      %label
        \% reduction
        %input#quirk_value{type: 'number', size: '3'}
      %br
      = submit_tag "Add Quirk", class: 'btn btn-primary'
