/* line 12, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.ac2-cooldown {
  -webkit-transition: width 0.52s ease-in-out;
  -moz-transition: width 0.52s ease-in-out;
  -o-transition: width 0.52s ease-in-out;
  transition: width 0.52s ease-in-out; }

/* line 16, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.ac5-cooldown {
  -webkit-transition: width 1.5s ease-in-out;
  -moz-transition: width 1.5s ease-in-out;
  -o-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out; }

/* line 20, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.ac10-cooldown {
  -webkit-transition: width 2.2s ease-in-out;
  -moz-transition: width 2.2s ease-in-out;
  -o-transition: width 2.2s ease-in-out;
  transition: width 2.2s ease-in-out; }

/* line 24, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.ac20-cooldown {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 28, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.uac5-cooldown {
  -webkit-transition: width 1.5s ease-in-out;
  -moz-transition: width 1.5s ease-in-out;
  -o-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out; }

/* line 32, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.lb10x-cooldown {
  -webkit-transition: width 2.5s ease-in-out;
  -moz-transition: width 2.5s ease-in-out;
  -o-transition: width 2.5s ease-in-out;
  transition: width 2.5s ease-in-out; }

/* line 36, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.gauss-cooldown {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 40, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/ballistic_transitions.scss */
.progress-bar.mg-cooldown {
  -webkit-transition: width 0.01s ease-in-out;
  -moz-transition: width 0.01s ease-in-out;
  -o-transition: width 0.01s ease-in-out;
  transition: width 0.01s ease-in-out; }
