/* line 14, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.lrm5-cooldown {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 18, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.lrm10-cooldown {
  -webkit-transition: width 3.75s ease-in-out;
  -moz-transition: width 3.75s ease-in-out;
  -o-transition: width 3.75s ease-in-out;
  transition: width 3.75s ease-in-out; }

/* line 22, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.lrm15-cooldown {
  -webkit-transition: width 4.25s ease-in-out;
  -moz-transition: width 4.25s ease-in-out;
  -o-transition: width 4.25s ease-in-out;
  transition: width 4.25s ease-in-out; }

/* line 26, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.lrm20-cooldown {
  -webkit-transition: width 4.75s ease-in-out;
  -moz-transition: width 4.75s ease-in-out;
  -o-transition: width 4.75s ease-in-out;
  transition: width 4.75s ease-in-out; }

/* line 30, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.srm2-cooldown {
  -webkit-transition: width 2.5s ease-in-out;
  -moz-transition: width 2.5s ease-in-out;
  -o-transition: width 2.5s ease-in-out;
  transition: width 2.5s ease-in-out; }

/* line 34, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.srm4-cooldown {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 38, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.srm6-cooldown {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 42, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/missile_transitions.scss */
.progress-bar.ssrm2-cooldown {
  -webkit-transition: width 3.5s ease-in-out;
  -moz-transition: width 3.5s ease-in-out;
  -o-transition: width 3.5s ease-in-out;
  transition: width 3.5s ease-in-out; }
