/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1000"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1001"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1002"] {
  -webkit-transition: width 4.75s ease-in-out;
  -moz-transition: width 4.75s ease-in-out;
  -o-transition: width 4.75s ease-in-out;
  transition: width 4.75s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1003"] {
  -webkit-transition: width 2.25s ease-in-out;
  -moz-transition: width 2.25s ease-in-out;
  -o-transition: width 2.25s ease-in-out;
  transition: width 2.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1004"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1005"] {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1006"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1007"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1008"] {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1009"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1010"] {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1011"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1012"] {
  -webkit-transition: width 2.25s ease-in-out;
  -moz-transition: width 2.25s ease-in-out;
  -o-transition: width 2.25s ease-in-out;
  transition: width 2.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1014"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1018"] {
  -webkit-transition: width 0.72s ease-in-out;
  -moz-transition: width 0.72s ease-in-out;
  -o-transition: width 0.72s ease-in-out;
  transition: width 0.72s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1019"] {
  -webkit-transition: width 1.66s ease-in-out;
  -moz-transition: width 1.66s ease-in-out;
  -o-transition: width 1.66s ease-in-out;
  transition: width 1.66s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1020"] {
  -webkit-transition: width 2.5s ease-in-out;
  -moz-transition: width 2.5s ease-in-out;
  -o-transition: width 2.5s ease-in-out;
  transition: width 2.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1021"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1023"] {
  -webkit-transition: width 2.5s ease-in-out;
  -moz-transition: width 2.5s ease-in-out;
  -o-transition: width 2.5s ease-in-out;
  transition: width 2.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1024"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1025"] {
  -webkit-transition: width 1.66s ease-in-out;
  -moz-transition: width 1.66s ease-in-out;
  -o-transition: width 1.66s ease-in-out;
  transition: width 1.66s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1026"] {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1027"] {
  -webkit-transition: width 3.75s ease-in-out;
  -moz-transition: width 3.75s ease-in-out;
  -o-transition: width 3.75s ease-in-out;
  transition: width 3.75s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1028"] {
  -webkit-transition: width 4.25s ease-in-out;
  -moz-transition: width 4.25s ease-in-out;
  -o-transition: width 4.25s ease-in-out;
  transition: width 4.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1029"] {
  -webkit-transition: width 3.5s ease-in-out;
  -moz-transition: width 3.5s ease-in-out;
  -o-transition: width 3.5s ease-in-out;
  transition: width 3.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1030"] {
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1031"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1032"] {
  -webkit-transition: width 3.5s ease-in-out;
  -moz-transition: width 3.5s ease-in-out;
  -o-transition: width 3.5s ease-in-out;
  transition: width 3.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1037"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1038"] {
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1039"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1040"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1041"] {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1042"] {
  -webkit-transition: width 3.75s ease-in-out;
  -moz-transition: width 3.75s ease-in-out;
  -o-transition: width 3.75s ease-in-out;
  transition: width 3.75s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1043"] {
  -webkit-transition: width 4.25s ease-in-out;
  -moz-transition: width 4.25s ease-in-out;
  -o-transition: width 4.25s ease-in-out;
  transition: width 4.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1044"] {
  -webkit-transition: width 4.75s ease-in-out;
  -moz-transition: width 4.75s ease-in-out;
  -o-transition: width 4.75s ease-in-out;
  transition: width 4.75s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1200"] {
  -webkit-transition: width 0.72s ease-in-out;
  -moz-transition: width 0.72s ease-in-out;
  -o-transition: width 0.72s ease-in-out;
  transition: width 0.72s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1201"] {
  -webkit-transition: width 1.66s ease-in-out;
  -moz-transition: width 1.66s ease-in-out;
  -o-transition: width 1.66s ease-in-out;
  transition: width 1.66s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1202"] {
  -webkit-transition: width 2.5s ease-in-out;
  -moz-transition: width 2.5s ease-in-out;
  -o-transition: width 2.5s ease-in-out;
  transition: width 2.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1203"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1204"] {
  -webkit-transition: width 0.72s ease-in-out;
  -moz-transition: width 0.72s ease-in-out;
  -o-transition: width 0.72s ease-in-out;
  transition: width 0.72s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1205"] {
  -webkit-transition: width 1.66s ease-in-out;
  -moz-transition: width 1.66s ease-in-out;
  -o-transition: width 1.66s ease-in-out;
  transition: width 1.66s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1206"] {
  -webkit-transition: width 2.5s ease-in-out;
  -moz-transition: width 2.5s ease-in-out;
  -o-transition: width 2.5s ease-in-out;
  transition: width 2.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1207"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1208"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1209"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1210"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1211"] {
  -webkit-transition: width 2.25s ease-in-out;
  -moz-transition: width 2.25s ease-in-out;
  -o-transition: width 2.25s ease-in-out;
  transition: width 2.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1212"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1213"] {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1214"] {
  -webkit-transition: width 2.25s ease-in-out;
  -moz-transition: width 2.25s ease-in-out;
  -o-transition: width 2.25s ease-in-out;
  transition: width 2.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1215"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1216"] {
  -webkit-transition: width 3.25s ease-in-out;
  -moz-transition: width 3.25s ease-in-out;
  -o-transition: width 3.25s ease-in-out;
  transition: width 3.25s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1217"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1218"] {
  -webkit-transition: width 3.5s ease-in-out;
  -moz-transition: width 3.5s ease-in-out;
  -o-transition: width 3.5s ease-in-out;
  transition: width 3.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1219"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1220"] {
  -webkit-transition: width 4.5s ease-in-out;
  -moz-transition: width 4.5s ease-in-out;
  -o-transition: width 4.5s ease-in-out;
  transition: width 4.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1221"] {
  -webkit-transition: width 5s ease-in-out;
  -moz-transition: width 5s ease-in-out;
  -o-transition: width 5s ease-in-out;
  transition: width 5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1222"] {
  -webkit-transition: width 3.5s ease-in-out;
  -moz-transition: width 3.5s ease-in-out;
  -o-transition: width 3.5s ease-in-out;
  transition: width 3.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1223"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1224"] {
  -webkit-transition: width 4.5s ease-in-out;
  -moz-transition: width 4.5s ease-in-out;
  -o-transition: width 4.5s ease-in-out;
  transition: width 4.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1225"] {
  -webkit-transition: width 5s ease-in-out;
  -moz-transition: width 5s ease-in-out;
  -o-transition: width 5s ease-in-out;
  transition: width 5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1226"] {
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1227"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1228"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1229"] {
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1230"] {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1231"] {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1232"] {
  -webkit-transition: width 3.5s ease-in-out;
  -moz-transition: width 3.5s ease-in-out;
  -o-transition: width 3.5s ease-in-out;
  transition: width 3.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1233"] {
  -webkit-transition: width 5s ease-in-out;
  -moz-transition: width 5s ease-in-out;
  -o-transition: width 5s ease-in-out;
  transition: width 5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1234"] {
  -webkit-transition: width 6s ease-in-out;
  -moz-transition: width 6s ease-in-out;
  -o-transition: width 6s ease-in-out;
  transition: width 6s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1235"] {
  -webkit-transition: width 3.5s ease-in-out;
  -moz-transition: width 3.5s ease-in-out;
  -o-transition: width 3.5s ease-in-out;
  transition: width 3.5s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1236"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1237"] {
  -webkit-transition: width 0s ease-in-out;
  -moz-transition: width 0s ease-in-out;
  -o-transition: width 0s ease-in-out;
  transition: width 0s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1238"] {
  -webkit-transition: width 0.72s ease-in-out;
  -moz-transition: width 0.72s ease-in-out;
  -o-transition: width 0.72s ease-in-out;
  transition: width 0.72s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1239"] {
  -webkit-transition: width 1.8s ease-in-out;
  -moz-transition: width 1.8s ease-in-out;
  -o-transition: width 1.8s ease-in-out;
  transition: width 1.8s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1240"] {
  -webkit-transition: width 2.9s ease-in-out;
  -moz-transition: width 2.9s ease-in-out;
  -o-transition: width 2.9s ease-in-out;
  transition: width 2.9s ease-in-out; }

/* line 86, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.cooldown-meter[data-weapon-id="weapon_1241"] {
  -webkit-transition: width 4.7s ease-in-out;
  -moz-transition: width 4.7s ease-in-out;
  -o-transition: width 4.7s ease-in-out;
  transition: width 4.7s ease-in-out; }

/* line 91, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.progress-bar.quick-reset {
  -webkit-transition: width 0.01s ease-in-out;
  -webkit-transition-delay: !important;
  -moz-transition: width 0.01s ease-in-out !important;
  -o-transition: width 0.01s ease-in-out !important;
  transition: width 0.01s ease-in-out !important; }
