/* line 6, /Users/Valerian/Projects/mwo_heat_simulator/source/stylesheets/weapon_cooldown.scss */
.progress-bar.quick-reset {
  -webkit-transition: width 0.01s ease-in-out;
  -webkit-transition-delay: !important;
  -moz-transition: width 0.01s ease-in-out !important;
  -o-transition: width 0.01s ease-in-out !important;
  transition: width 0.01s ease-in-out !important; }
