.container
  %h1 Mechwarrior Online Weapon Heat Simulator
  .row
    .col-md-3
      Heat Level
      .progress.vertical.wide.bottom
        #heatlevel.progress-bar.progress-bar-danger{aria: { valuemax: 30 }}

    .col-md-4
      Weapons
      %ol
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
      %a{href: '#', id: 'js-alphastrike', class: 'btn btn-danger' } Alpha Strike

  %section
    %div
      Heatsink Type
      %select#heatsink_type
        %option{value: 'single'} Single
        %option{value: 'double'} Double
    %div
      Heatsink Count
      %input{type: 'text', id: 'heatsink-count', size: 2, value: 10}
    %div
      Heat Threshold
      %span#heat-threshold
    %div
      %a{href: '#'} Heat chart

