.container
  .row-fluid
    %h1 Mechwarrior Online Weapon Heat Simulator
    .alert.alert-info
      Discuss on
      %a{href: "http://mwomercs.com/forums/topic/135725-mechwarrior-online-heat-simulator/"} MWO Heat Simulator Thread
      %ul
        %li Weapon Stats updated as of patch date Sept. 18 2013
        %li Please note that Ghost Heat only works on linked fire / Alpha, not on chainfire
  .row-fluid
    .col-lg-3.col-md-3.col-sm-3
      .row

        %p
          .progress.vertical.wide.bottom
            #heatlevel.progress-bar.progress-bar-danger{aria: { valuemax: 3000 }}

      .row
        %p
          %a{id: 'flush_coolant', class: 'btn btn-success'}
            %span.glyphicon.glyphicon-tint
            Flush coolant

        %p
          Damage:
          %span.label.label-danger#damage

        %p
          Cooling time :
          %span.label.label-info
            %span#cooldown_time 0
            sec

        %p
          Cooling Rate :
          %span.label.label-info
            %span#cool-rate
            heat/sec

        %p
          Heat Threshold :
          %span#heat-threshold.label.label-info

        %hr

        %p
          Enable Ghost Heat :(
          %input{type: 'checkbox', id:'ghost_heat'}
          %span.label.label-danger{id: 'ghost_heat_penalty'}


        %hr

        %p.engines
          = partial 'armory/engines'

        %p
          Internal Heatsink Count
          %span#internal-heatsinks.label.label-success

        %p
          External Heatsink Count
          %input{type: 'text', id: 'heatsink-count', size: 2, value: 0}

        %p
          Heatsink Type
          %select#heatsink_type
            %option{value: 'single'} Single
            %option{value: 'double'} Double

        %p
          Cool Run Skill
          %input{type: 'checkbox', id:'skill_coolrun'}

        %p
          Heat Containment Skill
          %input{type: 'checkbox', id:'skill_containment'}

        %p
          Elite Mech
          %input{type: 'checkbox', id:'skill_elite'}

    .col-lg-6.col-md-6.col-sm-6
      %h4 Equipped Weapons
      %ul.weapon-list.list-unstyled
        %li.equipped-weapon
          .row
            .col-lg-9
              %a{href: '#', class: 'js-fire btn-default btn-sm', data: { weapon_class: 'slas'}}<
                %span.glyphicon.glyphicon-screenshot
              %a{href: '#', class: 'js-strip btn-warning btn-sm'}<
                %span.glyphicon.glyphicon-remove
              %a{href: '#', class: 'js-weapon_group btn-info assigned btn-sm', data: {weapon_group: 1} } 1
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 2} } 2
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 3} } 3
              Small Laser
            .col-lg-3.weapon-cooldown-container
              .progress.horizontal
                .progress-bar.progress-bar-success.cooldown-meter.slas-cooldown.quick-reset{ role:'progressbar', aria: {valuemax: 5, valuetransitiongoal: 5, valuenow: 0} }
        %li.equipped-weapon
          .row
            .col-lg-9
              %a{href: '#', class: 'js-fire btn-default btn-sm', data: { weapon_class: 'mlas'}}<
                %span.glyphicon.glyphicon-screenshot
              %a{href: '#', class: 'js-strip btn-warning btn-sm'}<
                %span.glyphicon.glyphicon-remove
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 1} } 1
              %a{href: '#', class: 'js-weapon_group btn-info assigned btn-sm', data: {weapon_group: 2} } 2
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 3} } 3
              Medium Laser
            .col-lg-3.weapon-cooldown-container
              .progress.horizontal
                .progress-bar.progress-bar-success.cooldown-meter.mlas-cooldown.quick-reset{ role:'progressbar', aria: {valuemax: 5, valuetransitiongoal: 5, valuenow: 0} }
        %li.equipped-weapon
          .row
            .col-lg-9
              %a{href: '#', class: 'js-fire btn-default btn-sm', data: { weapon_class: 'llas'}}<
                %span.glyphicon.glyphicon-screenshot
              %a{href: '#', class: 'js-strip btn-warning btn-sm'}<
                %span.glyphicon.glyphicon-remove
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 1} } 1
              %a{href: '#', class: 'js-weapon_group btn-default btn-sm', data: {weapon_group: 2} } 2
              %a{href: '#', class: 'js-weapon_group btn-info assigned btn-sm', data: {weapon_group: 3} } 3
              Large Laser
            .col-lg-3.weapon-cooldown-container
              .progress.horizontal
                .progress-bar.progress-bar-success.cooldown-meter.llas-cooldown.quick-reset{ role:'progressbar', aria: {valuemax: 5, valuetransitiongoal: 5, valuenow: 0} }
      %p
        %a{href: '#', class: 'js-fire_weapon_group btn btn-danger', data: {activate_group: 1} }
          %span.glyphicon.glyphicon-screenshot
          Group 1
        %a{href: '#', class: 'js-fire_weapon_group btn btn-danger', data: {activate_group: 2} }
          %span.glyphicon.glyphicon-screenshot
          Group 2
        %a{href: '#', class: 'js-fire_weapon_group btn btn-danger', data: {activate_group: 3} }
          %span.glyphicon.glyphicon-screenshot
          Group 3
      %p
        %a{href: '#', id: 'js-alphastrike', class: 'btn btn-danger' }
          %span.glyphicon.glyphicon-exclamation-sign
          Alpha Strike
        %a{href: '#', id: 'js-stripall', class: 'btn btn-warning' }
          %span.glyphicon.glyphicon-trash
          Strip All

    .col-lg-3.armory.col-md-3.col-sm-3
      = partial 'armory/weapons'

