.container
  %h1 Mechwarrior Online Weapon Heat Simulator
  .row
    .col-md-3
      #heatmeter
        Heat Level
        .progress.vertical.wide.bottom
          .progress-bar.progress-bar-danger{ aria: {valuetransitiongoal: "55"}}

    %script
      $('.progress .progress-bar').progressbar();

    .col-md-4
      Weapons
      %ol
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
        %li
          Medium Laser
          %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire

  %section#actions
    %a{href: '#'} Heat chart
