%section#heat
  Heat Level
  55%

%section#weapons
  %ul
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire
    %li
      Medium Laser
      %a{href: '#', data: {weapon_id: '1', weapon_class: 'mlas'}} Fire

%section#actions
  %a{href: '#'} Heat chart
