.container
  %h1 Mechwarrior Online Weapon Heat Simulator
  .row
    .col-md-4

      .row
        .progress.vertical.wide.bottom
          #heatlevel.progress-bar.progress-bar-danger{aria: { valuemax: 30 }}

      .row
        %div
          Heatsink Type
          %select#heatsink_type
            %option{value: 'single'} Single
            %option{value: 'double'} Double
        %div
          Heatsink Count
          %input{type: 'text', id: 'heatsink-count', size: 2, value: 10}
        %div
          Heat Threshold
          %span#heat-threshold
        %div
          %a{href: '#'} Heat chart


    .col-md-4
      Weapons
      %ol.weapon-list
        %li
          Small Laser
          %a{href: '#', class: 'js-fire btn-danger btn-xs', data: { weapon_class: 'slas'}} Fire
          %a{href: '#', class: 'js-strip btn-warning btn-xs'} Strip
      %a{href: '#', id: 'js-alphastrike', class: 'btn btn-danger' } Alpha Strike

    .col-md-4.armory
      = partial 'weapons/armory'

