%section#heat
  Heat Level
  55%

%section#weapons
  %ul
    %li Medium Laser
    %li Medium Laser
    %li Medium Laser
    %li Medium Laser
    %li Medium Laser
    %li Medium Laser
    %li Medium Laser
    %li Medium Laser

%section#actions
  %a{href: '#'} Heat chart
