.container
  .row-fluid
    %h1 Mechwarrior Online Weapon Heat Simulator
  .row-fluid
    .col-lg-3
      .row
        .progress.vertical.wide.bottom
          #heatlevel.progress-bar.progress-bar-danger{aria: { valuemax: 3000 }}
      .row
        %div
          Heatsink Type
          %select#heatsink_type
            %option{value: 'single'} Single
            %option{value: 'double'} Double
        %div
          Heatsink Count
          %input{type: 'text', id: 'heatsink-count', size: 2, value: 10}
        %div
          Heat Threshold :
          %span#heat-threshold.label.label-info
        %div
          Cooling Rate :
          %span#cool-rate.label.label-info
          %span heat/sec

    .col-lg-6
      %h4 Equipped Weapons
      %ul.weapon-list.list-unstyled
        %li.equipped-weapon
          %a{href: '#', class: 'js-fire btn-danger btn-sm', data: { weapon_class: 'slas'}} Fire
          %a{href: '#', class: 'js-strip btn-warning btn-sm'} Strip
          %a{href: '#', class: 'js-strip btn-info btn-sm'} 1
          %a{href: '#', class: 'js-strip btn-default btn-sm'} 2
          %a{href: '#', class: 'js-strip btn-default btn-sm'} 3
          Small Laser
      %a{href: '#', id: 'js-alphastrike', class: 'btn btn-danger' } Alpha Strike
      %a{href: '#', id: 'js-stripall', class: 'btn btn-warning' } Strip All

    .col-lg-3.armory
      = partial 'weapons/armory'

